# importing all the packages we need

In [194]:
import pandas as pd

# read stage1_step1_export_bacdive_iso_table before cleaning.csv

In [195]:
# read stage1_step1_export_bacdive_iso_table before cleaning.csv
bacDive = pd.read_csv(r"C:\Users\kamy\Desktop\stage1_step1_export_bacdive_iso_table before cleaning.csv")

In [196]:
bacDive

,ID,Species,Culture collection number,Isolation source,Country,Continent,Category 1,Category 2,Category 3
0,132558,Abyssicoccus albus,"DSM 29158, CCTCC AB 2014213",deep sea sediment,Indian Ocean,Asia,#Environmental,#Aquatic,#Marine
1,132558,NaN,NaN,NaN,NaN,NaN,#Environmental,#Aquatic,#Sediment
2,132478,Abyssivirga alkaniphila,"DSM 29592, JCM 30920","methane-producing, hydro- carbon-degrading mic...",Arctic Ocean,Europe,#Environmental,#Aquatic,#Hydrothermal vent
3,132478,NaN,NaN,NaN,NaN,NaN,#Environmental,#Biofilm,NaN
4,2838,Acetivibrio alkalicellulosi,"DSM 17461, VKM B-2349",deposits of soda lake,Russia,Asia,#Engineered,#Waste,#Solid waste
...,...,...,...,...,...,...,...,...,...
34835,14290,NaN,NaN,NaN,NaN,NaN,#Environmental,#Microbial community,NaN
34836,14290,NaN,NaN,NaN,NaN,NaN,#Engineered,#Food production,#Beverage
34837,14292,Zymomonas mobilis subsp. pomaceae,"DSM 22645, ATCC 29192, LMG 448, NCIMB 11200, C...",spoiled ciders,United Kingdom,Europe,#Engineered,#Food production,#Fermented
34838,14292,NaN,NaN,NaN,NaN,NaN,#Environmental,#Microbial community,NaN
34839,14292,NaN,NaN,NaN,NaN,NaN,#Engineered,#Food production,#Beverage

In [197]:
# filling the table # replacing NaN with no in three colums (Category 1, Category 2, Category 3)
bacDive["Category 3"].fillna("#no", inplace = True)
bacDive["Category 2"].fillna("#no", inplace = True)
bacDive["Category 1"].fillna("#no", inplace = True)

In [198]:
bacDive

,ID,Species,Culture collection number,Isolation source,Country,Continent,Category 1,Category 2,Category 3
0,132558,Abyssicoccus albus,"DSM 29158, CCTCC AB 2014213",deep sea sediment,Indian Ocean,Asia,#Environmental,#Aquatic,#Marine
1,132558,NaN,NaN,NaN,NaN,NaN,#Environmental,#Aquatic,#Sediment
2,132478,Abyssivirga alkaniphila,"DSM 29592, JCM 30920","methane-producing, hydro- carbon-degrading mic...",Arctic Ocean,Europe,#Environmental,#Aquatic,#Hydrothermal vent
3,132478,NaN,NaN,NaN,NaN,NaN,#Environmental,#Biofilm,#no
4,2838,Acetivibrio alkalicellulosi,"DSM 17461, VKM B-2349",deposits of soda lake,Russia,Asia,#Engineered,#Waste,#Solid waste
...,...,...,...,...,...,...,...,...,...
34835,14290,NaN,NaN,NaN,NaN,NaN,#Environmental,#Microbial community,#no
34836,14290,NaN,NaN,NaN,NaN,NaN,#Engineered,#Food production,#Beverage
34837,14292,Zymomonas mobilis subsp. pomaceae,"DSM 22645, ATCC 29192, LMG 448, NCIMB 11200, C...",spoiled ciders,United Kingdom,Europe,#Engineered,#Food production,#Fermented
34838,14292,NaN,NaN,NaN,NaN,NaN,#Environmental,#Microbial community,#no
34839,14292,NaN,NaN,NaN,NaN,NaN,#Engineered,#Food production,#Beverage

In [199]:
# the reason i used this code is to fill empty cells
# this code means --> check the IDs, if the ID of two consecutive rows are the same than fill the second row with the cells of first row

temporary_list =[]
x = len(bacDive['ID'])-1
for counter in range(0,x):
    if bacDive.iloc[counter,0] == bacDive.iloc[counter+1,0]:
        temporary_list.append(counter)
        bacDive.iloc[counter+1,1] = bacDive.iloc[counter,1]
        bacDive.iloc[counter+1,2] = bacDive.iloc[counter,2]
        bacDive.iloc[counter+1,3] = bacDive.iloc[counter,3]
        bacDive.iloc[counter+1,4] = bacDive.iloc[counter,4]
        bacDive.iloc[counter+1,5] = bacDive.iloc[counter,5]
        
        # we do not need the next code because we want to maintain the Tag data
        #bacDive.iloc[counter+1,7] = bacDive.iloc[counter,7] +  bacDive.iloc[counter+1,7]
        #bacDive.iloc[counter+1,8] = bacDive.iloc[counter,8] +  bacDive.iloc[counter+1,8]

In [200]:
######## we wont need this if we are going to maintain other Tags in future
######## this code is written to remove all the rows without a specific Tag(here : #Environmental)


#temporary_list =[]
#for counter in range (0,len(bacDive.index)):
    #if (bacDive.iloc[counter,6] != '#Environmental') :
        #temporary_list.append(counter)

######## we run this code at the end in order to keep all other category 1 tags 
#for i in temporary_list:
    #bacDive = bacDive.drop([i])

In [202]:
# now we have a dataframe whithout any tags other than #Environmental  but there are still some redundency, there are some rows with the same Species name
# here the goal is to merge rows with the same Species name


temporary_list =[]
x = len(bacDive['ID'])-1
for counter in range(0,x):
    if bacDive.iloc[counter,0] == bacDive.iloc[counter+1,0]:
        temporary_list.append(counter)
        bacDive.iloc[counter+1,7] = bacDive.iloc[counter,7] +  bacDive.iloc[counter+1,7]
        bacDive.iloc[counter+1,8] = bacDive.iloc[counter,8] +  bacDive.iloc[counter+1,8]

In [203]:
# and now we remove the duplicate row
for i in temporary_list:
    bacDive = bacDive.drop([i])

In [204]:
bacDive

,ID,Species,Culture collection number,Isolation source,Country,Continent,Category 1,Category 2,Category 3
1,132558,Abyssicoccus albus,"DSM 29158, CCTCC AB 2014213",deep sea sediment,Indian Ocean,Asia,#Environmental,#Aquatic#Aquatic,#Marine#Sediment
3,132478,Abyssivirga alkaniphila,"DSM 29592, JCM 30920","methane-producing, hydro- carbon-degrading mic...",Arctic Ocean,Europe,#Environmental,#Aquatic#Biofilm,#Hydrothermal vent#no
6,2838,Acetivibrio alkalicellulosi,"DSM 17461, VKM B-2349",deposits of soda lake,Russia,Asia,#Condition,#Waste#Aquatic#Alkaline,#Solid waste#Lake (large)#no
10,2853,Acetivibrio clariflavus,"DSM 19732, NBRC 101661, EBR 45",methanogenic sludge of a cellulose-degrading b...,Japan,Asia,#Condition,#Biodegradation#Bioreactor#Aquatic#Anoxic (ana...,#no#no#Mud (Sludge)#no
12,2827,Acetivibrio straminisolvens,"DSM 16021, IAM 15070",a bacterial community constructed from compost...,Japan,Asia,#Environmental,#Biodegradation#Microbial community,#Composting#no
...,...,...,...,...,...,...,...,...,...
34828,140678,Zunongwangia endophytica,"CECT 9128, LMG 29517",surface-sterilized aboveground tissues of the ...,Portugal,Europe,#Host Body-Site,#Terrestrial#Plants#Plant,#Salt marsh#Shrub (Scrub)#Sterilized plant part
34831,24050,Zunongwangia mangrovi,"DSM 24499, KCTC 23496, LMG 26237",rhizosphere of the mangrove <i>Avicennia marin...,India,Asia,#Host Body-Site,#Aquatic#Plants#Plant,#Mangrove#Tree#Rhizosphere
34833,5731,Zunongwangia profunda,"DSM 18752, CCTCC AB 206139",deep-sea sediment,China,Asia,#Environmental,#Aquatic#Aquatic,#Marine#Sediment
34836,14290,Zymomonas mobilis subsp. francensis,"DSM 18599, CIP 108684, LMG 22974","""framboise"" spoiled ciders",France,Europe,#Engineered,#Food production#Microbial community#Food prod...,#Fermented#no#Beverage
34839,14292,Zymomonas mobilis subsp. pomaceae,"DSM 22645, ATCC 29192, LMG 448, NCIMB 11200, C...",spoiled ciders,United Kingdom,Europe,#Engineered,#Food production#Microbial community#Food prod...,#Fermented#no#Beverage

In [205]:
bacDive.to_csv(r'C:\Users\kamy\Desktop\stage1_step2_export_bacdive_iso_table cleaned.csv')