# the goal is to extract 16S sequences using accession number

In [1]:
#first we import the cvs file 0_13400

In [2]:
import pandas as pd
all_data = pd.read_csv(r"C:\Users\kamy\Desktop\text extraxtion\new way report 4\0_13400.csv")

In [3]:
all_data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,24,25,26,27,28,29,30,31,32,33
0,https://bacdive.dsmz.de/strain/132558,Abyssicoccus albus strain LIPI11-2-Ac043 16S r...,KT935587,ENA,1817405 tax ID,Abyssicoccus albus DSM 29158,GCA_003815035,scaffold,GenBank,1817405 tax ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://bacdive.dsmz.de/strain/132478,Abyssivirga alkaniphila strain L81 16S ribosom...,KP233895,ENA,1675854 tax ID,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://bacdive.dsmz.de/strain/2838,Clostridium alkalicellum 16S ribosomal RNA gen...,AY959944,ENA,320502 tax ID,Hungateiclostridium alkalicellulosi DSM 17461,GCA_008125075,scaffold,GenBank,320502 tax ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://bacdive.dsmz.de/strain/2853,Clostridium clariflavum gene for 16S rRNA,AB186359,ENA,720554 tax ID,Hungateiclostridium clariflavum DSM 19732,GCA_000237085,complete,GenBank,720554 tax ID,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://bacdive.dsmz.de/strain/2827,"Clostridium straminisolvens gene for 16S rRNA,...",AB125279,ENA,253314 tax ID,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Next we extract all the 16S accession numbers and a list of links

In [4]:
links_list = []
list_of_accession_numbers = []
for i in range (0,13400):
    for j in range(0,35):
        x = str(all_data.iloc[i,j])
        if "16S" in x:
            links_list.append(all_data.iloc[i,0])
            list_of_accession_numbers.append(all_data.iloc[i,j+1])

# here is our links_list and list_of_accession_numbers

In [5]:
len(links_list)

11521

In [6]:
len(list_of_accession_numbers)

11521

# now its time to extract the subsequent sequence data using their accession numbers

In [13]:
from Bio import Entrez
from Bio import SeqIO

Entrez.email = 'kz.kalhor@gmail.com'

In [113]:
erorrs = []
list_id = []
list_seq =[]
list_description =[]
for i in list_of_accession_numbers:
    try:
        handle = Entrez.efetch(db = "nucleotide", id = i, rettype = "fasta")
        record = SeqIO.read( handle, "fasta" )
        list_id.append(record.id)
        list_description.append(record.description)
        list_seq.append(record.seq)
        
    except:
        erorrs.append(i)
    list_of_tuples = list(zip(p, list_description, list_seq))
    df = pd.DataFrame(list_of_tuples,columns = ['accession number', "description",'sequence'])
    df.to_csv(r"C:\Users\kamy\Desktop\text extraxtion\new way report 5\ALL_DATA.csv")